  .form-landing-page {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .form-landing-page form {
    width: 300px;
    height: 200px;
  }
  
  .form-landing-page form label {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #2979ff;
    margin-bottom: 10px;
  }
  
  .form-landing-page form input[type="text"], 
  .form-landing-page form input[type="password"] {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #111111;
    padding-left: 5px;
    box-sizing: border-box;
    border-color: #2979ff;
    font-size: 20px;
    margin-left: 0;
  }

  .form-landing-page form input[type="text"] {
    margin-bottom: 20px;
  }
  
  .form-landing-page form input[type="text"]:focus,
  .form-landing-page form input[type="password"]:focus {
    outline-style: none;
  }