.mainbodybar {
    height: 453px;
    width: 344px;
    margin: 0 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.retrieve-chat-left {
    text-align: left;
    width: 191px;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 6px;
    margin: 8px 0;
    color: #4a4a4a;
}

.retrieve-chat-left .chat-left-name {
    color: #f5a623;

}

.retrieve-chat-right {
    width: 201px;
    background-color: #2979ff;
    margin: 8px 0;
    margin-left: 140px;
    color: #fff;
    padding: 4px 2px 4px 6px;
    border-radius: 4px;
    box-sizing: border-box;
}

.mainbodybar::-webkit-scrollbar { 
    display: none; 
    width: 0px; 
    background: transparent;
} 

/* .mainbodybar::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

.retrieve-chat-right .current-date {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.retrieve-chat-left .current-date {
    font-size: 12px;
    text-align: right;
    color: #4a4a4a;
}

.retrieve-chat-right .chat-right-message,
.retrieve-chat-left .chat-left-message {
    margin-bottom: 5px;
}